# [dbo].[AnaPozs]

In [0]:
USE [Fotografhane]
GO

In [0]:
/****** Object:  Table [dbo].[AnaPozs]    Script Date: 28.01.2023 22:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnaPozs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tür] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Resim] [nvarchar](50) NULL,
	[Tanim] [nvarchar](max) NULL,
 CONSTRAINT [PK_AnaFoto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Forms]

In [0]:
/****** Object:  Table [dbo].[Forms]    Script Date: 28.01.2023 22:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Telefon] [int] NULL,
	[Eposta] [nvarchar](50) NULL,
	[Mesaj] [nvarchar](max) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[HizmetCesits]

In [0]:
/****** Object:  Table [dbo].[HizmetCesits]    Script Date: 28.01.2023 22:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HizmetCesits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Resim] [nvarchar](50) NULL,
	[Baslik] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Altbaslik1] [nvarchar](50) NULL,
	[Altbaslik2] [nvarchar](50) NULL,
	[Altbaslik3] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hizmets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Kategoris]

In [0]:
/****** Object:  Table [dbo].[Kategoris]    Script Date: 28.01.2023 22:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kategoris] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Pozs]

In [0]:
/****** Object:  Table [dbo].[Pozs]    Script Date: 28.01.2023 22:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PozAdi] [nvarchar](50) NULL,
	[Baslik] [nvarchar](50) NULL,
	[Konu] [nvarchar](50) NULL,
	[YorumSayisi] [int] NULL,
	[GörüntülemeSayisi] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Resim] [nvarchar](50) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Pozs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO